<form [formGroup]="loginForm" (ngSubmit)="saveForm()" class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <mat-card class="shadow p-4 mb-5 bg-white rounded" style="width: 400px;">
    <mat-card-header style="margin: 2px auto;">
      <mat-card-title class="text-center mb-4" >Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">

        <mat-form-field appearance="outline" class="col">
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" formControlName="email" appNoSpace>
          <mat-error *ngIf="getControl('email')?.invalid && getControl('email')?.touched">
            <span *ngIf="getControl('email')?.errors?.['required']">Email is required.</span>
            <span *ngIf="getControl('email')?.errors?.['email']">Enter a valid email.</span>
            <mat-error *ngIf="getControl('email')?.errors?.['noSpace']">No spaces allowed.</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">

        <mat-form-field appearance="outline" class="col">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" formControlName="password" appNoSpace>
          <mat-error *ngIf="getControl('password')?.invalid && getControl('password')?.touched">
            <span *ngIf="getControl('password')?.errors?.['required']">Password is required.</span>
            <span *ngIf="getControl('password')?.errors?.['minlength']">Password must be at least 6 characters long.</span>
            <mat-error *ngIf="getControl('password')?.errors?.['noSpace']">No spaces allowed.</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions style="margin: 1px auto;">
      <button mat-raised-button color="primary" type="submit" >Login</button>
    </mat-card-actions>
    <mat-card-actions style="margin: 0px auto;">
      <span>Don't have a account? </span>
      <a mat-button  routerLink="/auth/signup-mat">Sign Up</a>
    </mat-card-actions>
  </mat-card>
  
</form>
